<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품등록</title>
  <style>
    .button {
     background-color: aqua;
    }
  </style>
</head>

<body>
  <div class="product-web">
    <h3>상품등록</h3>
    <hr>
    <form action="" method="post">
      <div>
        <div><label for="">상품명</label><input type="text" name="pname"></div>
        <div><label for="">수량</label><input type="text" name="count"></div>
        <div><label for="">가격</label><input type="text" name="price"></div>
        <div><button type="submit">등록</button></div>
      </div>
    </form>
  </div>
</body>

</html>